# ETL into Final_Project Database

**Database Integration Deliverables**

1. Database stores static data for use during the project
2. Database interfaces with the project in some format
3. Includes at least two tables
4. Includes at least one join using the database language (not including any joins in Pandas)
5. Includes at least one connection string (using SQLAlchemy or PyMongo)

In [1]:
import json
import pandas as pd
import numpy as np
import pandas as pds

import re

from sqlalchemy import create_engine
import psycopg2

#from config import db_password

import time

In [2]:
#  Import and read the owid-covid-data.csv.
raw_covid_df = pd.read_csv("Resources/owid-covid-data.csv")
raw_covid_df

,Country_Code,iso_code,continent,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,0,AFG,Asia,2/24/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,0,AFG,Asia,2/25/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,0,AFG,Asia,2/26/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,0,AFG,Asia,2/27/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,0,AFG,Asia,2/28/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75553,214,ZWE,Africa,3/13/2021,36471.0,48.0,30.143,1501.0,5.0,2.286,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
75554,214,ZWE,Africa,3/14/2021,36484.0,13.0,30.429,1503.0,2.0,2.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
75555,214,ZWE,Africa,3/15/2021,36504.0,20.0,30.714,1504.0,1.0,2.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
75556,214,ZWE,Africa,3/16/2021,36535.0,31.0,30.571,1507.0,3.0,2.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
75557,214,ZWE,Africa,3/17/2021,36552.0,17.0,30.143,1508.0,1.0,2.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [3]:
raw_covid_clean = raw_covid_df.fillna(0)
raw_covid_clean

,Country_Code,iso_code,continent,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,0,AFG,Asia,2/24/2020,1.0,1.0,0.000,0.0,0.0,0.000,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.511
1,0,AFG,Asia,2/25/2020,1.0,0.0,0.000,0.0,0.0,0.000,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.511
2,0,AFG,Asia,2/26/2020,1.0,0.0,0.000,0.0,0.0,0.000,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.511
3,0,AFG,Asia,2/27/2020,1.0,0.0,0.000,0.0,0.0,0.000,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.511
4,0,AFG,Asia,2/28/2020,1.0,0.0,0.000,0.0,0.0,0.000,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75553,214,ZWE,Africa,3/13/2021,36471.0,48.0,30.143,1501.0,5.0,2.286,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
75554,214,ZWE,Africa,3/14/2021,36484.0,13.0,30.429,1503.0,2.0,2.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
75555,214,ZWE,Africa,3/15/2021,36504.0,20.0,30.714,1504.0,1.0,2.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
75556,214,ZWE,Africa,3/16/2021,36535.0,31.0,30.571,1507.0,3.0,2.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
75557,214,ZWE,Africa,3/17/2021,36552.0,17.0,30.143,1508.0,1.0,2.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

## Populate Table 1: raw_covid_clean

In [7]:
#Create Connection String to SQL 
password = "BoomerSooner2!"

db_string = f"postgres://postgres:{password}@127.0.0.1:5432/Final_Project"
## Make above a config.py for password

engine = create_engine(db_string)

raw_covid_clean.to_sql(name='raw_covid_clean', con=engine)

## Create Indexing Table

**Obtain Country_Codes from raw_covid_clean dataframe and place in a list, country_codes**

In [15]:
# variable to hold the count
cnt = 0
  
# list to hold visited values
country_codes = []
  
# loop for counting the unique
# values in height
for i in range(0, len(raw_covid_clean['Country_Code'])):
    
    if raw_covid_clean['Country_Code'][i] not in country_codes: 
        
        country_codes.append(raw_covid_clean['Country_Code'][i])
          
        cnt += 1
  
print("No.of.unique Country_Codes: ",
      cnt)
  
print("Country_Codes: ",
      country_codes)

No.of.unique Country_Codes:  215
Country_Codes:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214]

In [16]:
#  Import and read the owid-covid-data.csv.
country_index_df = pd.read_csv("Resources/country_index.csv")
country_index_df.head(10)

   Country_Code     location
0             0  Afghanistan
1             0  Afghanistan
2             0  Afghanistan
3             0  Afghanistan
4             0  Afghanistan
5             0  Afghanistan
6             0  Afghanistan
7             0  Afghanistan
8             0  Afghanistan
9             0  Afghanistan

**Obtain Country locations from country_index_df and place in a list, locations**

In [17]:
# variable to hold the count
cnt = 0
  
# list to hold visited values
locations = []
  
# loop for counting the unique
# values in height
for i in range(0, len(country_index_df['location'])):
    
    if country_index_df['location'][i] not in locations: 
        
        locations.append(country_index_df['location'][i])
          
        cnt += 1
  
print("No.of.unique locations: ",
      cnt)
  
print("locations: ",
      locations)

No.of.unique locations:  215
locations:  ['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Europe', 'European Union', 'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'International', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North America', 'North Macedonia', 'Northern Cyprus', 'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South America', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turks and Caicos Islands', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'World', 'Yemen', 'Zambia', 'Zimbabwe']

In [18]:
# Python 3 to get list of tuples from two lists
country_index_tuples = list(zip(country_codes,locations))
country_index_tuples

[(0, 'Afghanistan'),
 (1, 'Africa'),
 (2, 'Albania'),
 (3, 'Algeria'),
 (4, 'Andorra'),
 (5, 'Angola'),
 (6, 'Anguilla'),
 (7, 'Antigua and Barbuda'),
 (8, 'Argentina'),
 (9, 'Armenia'),
 (10, 'Asia'),
 (11, 'Australia'),
 (12, 'Austria'),
 (13, 'Azerbaijan'),
 (14, 'Bahamas'),
 (15, 'Bahrain'),
 (16, 'Bangladesh'),
 (17, 'Barbados'),
 (18, 'Belarus'),
 (19, 'Belgium'),
 (20, 'Belize'),
 (21, 'Benin'),
 (22, 'Bermuda'),
 (23, 'Bhutan'),
 (24, 'Bolivia'),
 (25, 'Bosnia and Herzegovina'),
 (26, 'Botswana'),
 (27, 'Brazil'),
 (28, 'Brunei'),
 (29, 'Bulgaria'),
 (30, 'Burkina Faso'),
 (31, 'Burundi'),
 (32, 'Cambodia'),
 (33, 'Cameroon'),
 (34, 'Canada'),
 (35, 'Cape Verde'),
 (36, 'Cayman Islands'),
 (37, 'Central African Republic'),
 (38, 'Chad'),
 (39, 'Chile'),
 (40, 'China'),
 (41, 'Colombia'),
 (42, 'Comoros'),
 (43, 'Congo'),
 (44, 'Costa Rica'),
 (45, "Cote d'Ivoire"),
 (46, 'Croatia'),
 (47, 'Cuba'),
 (48, 'Cyprus'),
 (49, 'Czechia'),
 (50, 'Democratic Republic of Congo'),
 (51, 'Denmark'),
 (52, 'Djibouti'),
 (53, 'Dominica'),
 (54, 'Dominican Republic'),
 (55, 'Ecuador'),
 (56, 'Egypt'),
 (57, 'El Salvador'),
 (58, 'Equatorial Guinea'),
 (59, 'Eritrea'),
 (60, 'Estonia'),
 (61, 'Eswatini'),
 (62, 'Ethiopia'),
 (63, 'Europe'),
 (64, 'European Union'),
 (65, 'Faeroe Islands'),
 (66, 'Falkland Islands'),
 (67, 'Fiji'),
 (68, 'Finland'),
 (69, 'France'),
 (70, 'Gabon'),
 (71, 'Gambia'),
 (72, 'Georgia'),
 (73, 'Germany'),
 (74, 'Ghana'),
 (75, 'Gibraltar'),
 (76, 'Greece'),
 (77, 'Greenland'),
 (78, 'Grenada'),
 (79, 'Guatemala'),
 (80, 'Guernsey'),
 (81, 'Guinea'),
 (82, 'Guinea-Bissau'),
 (83, 'Guyana'),
 (84, 'Haiti'),
 (85, 'Honduras'),
 (86, 'Hong Kong'),
 (87, 'Hungary'),
 (88, 'Iceland'),
 (89, 'India'),
 (90, 'Indonesia'),
 (91, 'International'),
 (92, 'Iran'),
 (93, 'Iraq'),
 (94, 'Ireland'),
 (95, 'Isle of Man'),
 (96, 'Israel'),
 (97, 'Italy'),
 (98, 'Jamaica'),
 (99, 'Japan'),
 (100, 'Jersey'),
 (101, 'Jordan'),
 (102, 'Kazakhstan'),
 (103, 'Kenya'),
 (104, 'Kosovo'),
 (105, 'Kuwait'),
 (106, 'Kyrgyzstan'),
 (107, 'Laos'),
 (108, 'Latvia'),
 (109, 'Lebanon'),
 (110, 'Lesotho'),
 (111, 'Liberia'),
 (112, 'Libya'),
 (113, 'Liechtenstein'),
 (114, 'Lithuania'),
 (115, 'Luxembourg'),
 (116, 'Macao'),
 (117, 'Madagascar'),
 (118, 'Malawi'),
 (119, 'Malaysia'),
 (120, 'Maldives'),
 (121, 'Mali'),
 (122, 'Malta'),
 (123, 'Marshall Islands'),
 (124, 'Mauritania'),
 (125, 'Mauritius'),
 (126, 'Mexico'),
 (127, 'Micronesia (country)'),
 (128, 'Moldova'),
 (129, 'Monaco'),
 (130, 'Mongolia'),
 (131, 'Montenegro'),
 (132, 'Montserrat'),
 (133, 'Morocco'),
 (134, 'Mozambique'),
 (135, 'Myanmar'),
 (136, 'Namibia'),
 (137, 'Nepal'),
 (138, 'Netherlands'),
 (139, 'New Zealand'),
 (140, 'Nicaragua'),
 (141, 'Niger'),
 (142, 'Nigeria'),
 (143, 'North America'),
 (144, 'North Macedonia'),
 (145, 'Northern Cyprus'),
 (146, 'Norway'),
 (147, 'Oceania'),
 (148, 'Oman'),
 (149, 'Pakistan'),
 (150, 'Palestine'),
 (151, 'Panama'),
 (152, 'Papua New Guinea'),
 (153, 'Paraguay'),
 (154, 'Peru'),
 (155, 'Philippines'),
 (156, 'Poland'),
 (157, 'Portugal'),
 (158, 'Qatar'),
 (159, 'Romania'),
 (160, 'Russia'),
 (161, 'Rwanda'),
 (162, 'Saint Helena'),
 (163, 'Saint Kitts and Nevis'),
 (164, 'Saint Lucia'),
 (165, 'Saint Vincent and the Grenadines'),
 (166, 'Samoa'),
 (167, 'San Marino'),
 (168, 'Sao Tome and Principe'),
 (169, 'Saudi Arabia'),
 (170, 'Senegal'),
 (171, 'Serbia'),
 (172, 'Seychelles'),
 (173, 'Sierra Leone'),
 (174, 'Singapore'),
 (175, 'Slovakia'),
 (176, 'Slovenia'),
 (177, 'Solomon Islands'),
 (178, 'Somalia'),
 (179, 'South Africa'),
 (180, 'South America'),
 (181, 'South Korea'),
 (182, 'South Sudan'),
 (183, 'Spain'),
 (184, 'Sri Lanka'),
 (185, 'Sudan'),
 (186, 'Suriname'),
 (187, 'Sweden'),
 (188, 'Switzerland'),
 (189, 'Syria'),
 (190, 'Taiwan'),
 (191, 'Tajikistan'),
 (192, 'Tanzania'),
 (193, 'Thailand'),
 (194, 'Timor'),
 (195, 'Togo'),
 (196, 'Trinidad and Tobago'),
 (197, 'Tunisia'),
 (198, 'Turkey'),
 (199, 'Turks and Caicos Islands'),
 (200, 'Uganda'),
 (201, 'Ukraine'),
 (202, 'United Arab Emirates'),
 (203, 'United Kingdom'),
 (204, 'United States'),
 (205, 'Uruguay'),
 (206, 'Uzbekistan'),
 (207, 'Vanuatu'),
 (208, 'Vatican'),
 (209, 'Venezuela'),
 (210, 'Vietnam'),
 (211, 'World'),
 (212, 'Yemen'),
 (213, 'Zambia'),
 (214, 'Zimbabwe')]

**Convert country_index_tubles list to pandas dataframe, country_index_df**

In [19]:
country_index_df = pd.DataFrame(country_index_tuples, columns=['Country_Code','location'])
country_index_df.head()

   Country_Code     location
0             0  Afghanistan
1             1       Africa
2             2      Albania
3             3      Algeria
4             4      Andorra

## Populate Table 2: country_index

In [20]:
#Create Connection String to SQL 
password = "BoomerSooner2!"

db_string = f"postgres://postgres:{password}@127.0.0.1:5432/Final_Project"
## Make above a config.py for password

engine = create_engine(db_string)

country_index_df.to_sql(name='country', con=engine)